@charset "utf-8";
body {
       /* background: #ff660c;*/
       /* background-color: #604080;*/
	background: #310f33;        
	font-family:"Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
.show{
	background:url(../image/show_window.png) no-repeat left;
	cursor:pointer;
	width:16px;
	height:16px;
}
#cerceve{
	margin:150px auto 0 auto;
	width:400px;
	height:300px;
}
.login{
	
	height:63px;
        width: 380px;
        background-image: url(../image/logo.png);
        background-size: contain;
	border-top-left-radius: 1px;
	border-top-right-radius: 1px;
	line-height:60px;
	padding-left:20px;
	text-shadow:1px 1px rgba(53,16,56,0.5);
	color:#fff;
	font-weight:bold;
}
.formbody{
	width:400px;
	height:240px;
	background:url(../image/formbody.png) no-repeat top;
}
form .text{
	width:358px;
	height:52px;
	margin:20px 0 0 22px;
	outline:none;
	font-weight:bold;
	padding-left:20px;
	border:0;
	color:#a9a9bc;
}
form .submit{
	width:100px;
	height:40px;
	margin:20px 20px 0 22px;
        background-color: #532371;	
	font-weight:bold;
	text-shadow:1px 1px rgba(53,16,56,0.5);
	color:#fff;
	cursor:pointer;
	border:0;
}
form a{
	text-decoration:none;
	color:#a9a9bc;
	font-size:14px;
	font-weight:bold;
	text-shadow:1px 1px rgba(255,255,255,0.75);
}
a{
    text-decoration: none;
    color: black;
}

.header,.naviTable{
    margin-left: 12%;
    font-weight:bold;
}

.logo{
    height: 80px;
    width:  200px;
}

.profile{
    height: 40px;
    width: 40px;
}

a:link,a:visited{
    text-decoration:none;
    color: white;
}

a:active{
    text-decoration: blink;
}

a:hover { 
    text-decoration:none;
    color: white;
}

.settings a:hover,.settings a:visited{
    color: white;
}
.navi{
    margin-left: 5px;
    margin-right: 15px;
}

.content{
    margin-top: 20px;
    margin-left: 12%;
    width: 1010px;
    height:600px;
    background-color: #fff;
}

.button {
    margin: 5px;
    padding: 5px;
    width: 120px;
    height: 20px;
    cursor: pointer;
    background-color: lavender;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    color: black;
} 

.button:hover {
    text-decoration: none;
    background-color: darkgrey;
    color: white;
} 

.button:active,.button:visited {
    text-decoration: none;
    background-color: white;
    color: black;
} 

.comContent{
    margin-top: 20px;
    margin-left: 12%;
    width: 800px;
    height:1000px;
    background-color: white;
}

#Comfilter{
    float: left;
    padding: 5px;
    margin-top: 20px;  
    margin-left: 20px;
    background-color: lightgrey;
}

#CreateCom{
    float: right;
    border: none;
    background-color: lightgrey;
    width: 190px;
    height:600px;
    padding: 5px;
    margin-top: 20px;
    margin-right: 110px;

}

.inline{
    display: inline-block;
    zoom:1;
    *display:inline;
}

.text1{
    padding: 5px;
    margin: 5px;   
    border: none;
    background-color:lavender;
}

.collapse1{
    display: none;
}

.box1 {
    background-color: grey;
    color: white;
    float: left;
    margin: 5px;
    padding: 5px;
    width: 180px;
    text-align: left;
}

.comMain {
    float: left;
    width: 750px;
    margin-top: 20px;
    margin-left: 20px;
    padding: 5px;
    /*text-align: left;*/
    background-color: lightgray;
}

.searchdiv{    
    width: 360px;
    margin-bottom: 10px;
    margin-right: 2px;
    border-top:1px solid #3e3e3e;
    border-bottom:1px solid #3e3e3e;
    text-align:center;
}

.List {
    width: 750px;
    text-align:center;
    border-collapse: collapse;
}

.List tr {
    cursor: pointer;    
}
/*
.List tr:hover{
    background-color: darkgrey;
}*/

.List th {
    background-color: grey;
    color: white; 
}
/*
.List th:hover{
    background-color: darkgrey;
}*/

.List th:acitve {
    background-color: white;
    color:black;
}

.List td, .List th {
    /*
    border-bottom: 1px solid white;*/
    padding: 5px;
}

.List a:hover {
    text-decoration: underline;
}

.List a:visited{
    text-decoration: none;
    color: black;
}
/*for the page companyInformation*/

.operation{
    float: left;
    padding: 5px;
    margin-top: 20px;  
    margin-left: 20px;
    background-color: lightgrey;
}

.List tr td table{
    text-align: left;
    width:400px;
    border-collapse:collapse;
    border:1px solid white;
    margin-top: 10px;
    margin-bottom: 10px;
   
}
/*
.ListInfo{
    width:750px;
    text-align: left;
    border-collapse: collapse
}

.ListInfo th{
    cursor: pointer;
}
*/

/* the contact information page*/
.conPro{
    float: left;
}

.contactProfile{
    width: 120px;
    height:120px;
    padding-top: 20px;
    padding-right: 20px;
}

.addNote{
    width:250px;
    height:100px;
}
.sendNote{
    width:100px;
}
#company{
    text-align: left;
}

.create{
    margin-left: 200px;
    padding-top: 40px;
    width:600px;
}
.createForm{
    padding-top: 40px;
    padding-bottom: 40px;
    margin-left: 150px;
}

.inputForm{
    height: 30px;
    width: 200px;
}

.buttonForm{
    height: 40px;
    width:80px;
}

.createForm tr{
    padding-bottom: 30px;
}
legend{
    text-align: center;
}
       /*.footerSearch .searchBar{margin:0 auto;}*/
 
.searchTool{    
    width:360px;
    height:32px;
    line-height:32px;
    margin:0px auto 0 auto; 
    text-align:left; 
    background:#fff;
}
.choose{
    float:left;
    cursor:pointer;
    height:32px;
    width:52px; 
    display:inline-block;
    position:relative;
    line-height:32px;
    font-size:12px; 
    text-align:center;
    padding-right:10px;
}
/*下拉箭头样式*/
.choose b{
    position:absolute;
    right:8px;
    top:14px;
    width:0;
    height:0;
    border-width:4px 4px;
    border-style:solid;
    border-color:#fff #fff #fff;
    font-size:0;line-height:0;
}

.searchTextInit{
    height:32px;
    line-height:32px;
    border:0;
    border-left:1px solid #fff;
    padding:0 8px;
    font-size:12px;
    color:#000000;
    width:220px; 
    background:#fff;
    float:left
}
.searchTextInput{
    height:32px;
    line-height:32px;
    border:0;
    border-left:1px solid #eca128;
    padding:0 8px;    
    font-size:12px;
    color:black;
    width:250px; 
    background:#000000;
    float:left
}
.searchBtn{
    float:left;
    height:24px;
    width:50px; 
    background:#fff
    url(image/bs.png) no-repeat center 0px;
    cursor:pointer;
    border:0;
    text-align: left;
    margin:4px 0 0 4px;
}

.searchBtn:hover{
    background:#fff url(images/bs.png) 
    no-repeat center -24px;
}

.choose ul{
    border-bottom:1px solid #eca128;
    list-style:none;
    width:64px;
    padding:0px;
}

.choose:hover b{border-color:#fff #fff #fff;}

.choose:hover .choosePop{ 
    display:inline-block;
}

.choosePop{ 
    display:none;
    width:64px; 
    position:absolute;
    left:-1px;
    top:20px;
}
/*鼠标离开列表上效果*/
.choosePop ul li a:link,.choosePop ul li a:visited{
    color:#000000;
    background:#fff;
}
/*鼠标移动到列表上效果*/
.choosePop ul li a:hover,.choosePop ul li a:active{
    color:#000000;
    background:#fff;
}
.choosePop ul li{
    border-left:1px solid #fff;
    border-right:1px solid #fff;
    line-height:24px;
}
.choosePop ul li a{
    display:block;
    font-size:12px;
    text-decoration:none;
}
/*
.search{
    position: relative;
    width: 0%;
    min-width: 40px;
    height:40px;
    float: right;
    overflow: hidden;
    transition: width 0.3s;
}

.searchInput{
    position: absolute;
	top: 0;
	right: 0;
	border: none;
	outline: none;
	background: #fff;
	width: 100%;
	height: 40px;
	margin: 0;
	z-index: 10;
	padding: 20px 65px 20px 20px;
	font-family: inherit;
	font-size: 20px;
	color: #2c3e50;
}

.searchIcon, .searchSubmit{
        width: 40px;
	height: 40px;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	padding: 0;
	margin: 0;
	line-height: 60px;
	text-align: center;
	cursor: pointer;
}

.searchSubmit{
    background: #fff; /* IE needs this *//*
    filter: alpha(opacity=0); /* IE 5-7 *//*
    opacity: 0;
    color: transparent;
    border: none;
    outline: none;
    z-index: -1;
}

.searchIcon{
    color: #fff;
	background: #e67e22;
	z-index: 90;
	font-size: 22px;
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
}

.searchIcon:before{
    content: "\e000";
}*/
