.t1, .t2, .t3, .t0 {
    padding: 5px;
    border-bottom: 1px solid lightgrey;
}
.t1{
    margin: 5px 5px 5px 10px;
}
.t1:hover {
    background-color: grey;
    color: white;
}

.t2 {
    margin: 5px 5px 5px 30px;
}
.t2:hover {
    background-color: grey;
    color: white;
}
.t3 {
    margin: 5px 5px 5px 50px;
}
.t3:hover {
    background-color: grey;
    color: white;
}

.t0{
    margin: 10px;
}
.t0:hover {
    background-color: grey;
    color: white;
}